.box{
    background: #eee;
  }
  .box p:nth-child(2) {
    padding: 0 20px 20px;
}
.name-highlighter {
  text-align: right;
  margin-bottom: 0;
}
.name-highlighter span {
  background: pink;
  padding: 12px;
  min-width: 75px;
  display: inline-block;
  text-align: center;
}
.col-lg-4:nth-child(2) .box .name-highlighter span {
  background: #f96868;
  color: #fff;
}
.col-lg-4:nth-child(3) .box .name-highlighter span {
  background: cornsilk;
}
ul.nav.navbar-nav.navbar-right li a {
    text-align: center;
    background: #f1eded;
    border-bottom: 1px solid #dededea6;
}